*{
    margin: 0;
    padding: 0;
}

body{
    height: 10rem;
}

div{
    border: solid black 2px;
    border-radius: 6px;
    margin: 10% auto;
    width: 13rem;
}

h1{
    font-size: 20px;
    margin: 10px 50px;
}

td input{
    padding: 10px;
}

#resultado{
    border: black solid 1px;
    padding: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

table{
    margin: 10px 0 20px 35px;
}
